@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {  
  min-width: 375px;
  background-color: #dfcee9;
}

a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}
button {
  padding: 0;
  border: 0;
  cursor: pointer;
}
input,
textarea {
  border-radius: 0;
  box-shadow: none !important;
}
input:focus, textarea:focus {
  outline: none !important;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  margin: 0;
}
